html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  color: #2f2d13;
  line-height: 1.5;
  max-width: 400px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Sigmar One", cursive;
  color: #b20953;
  margin: 0;
}

h2 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  font-size: 1.875rem;
}

em {
  font-weight: bold;
  font-style: normal;
}

header {
  background-color: #ffe500;
  padding-bottom: .5em;
}

footer {
  background-color: #ffe500;
  text-align: center;
  padding: .75em;
  font-size: 1rem;
}

ul {
  display: inline-block;
  margin: 0;
  padding: 0 .75em;
  max-width: 400px;
  margin-top: .3em;
}

li {
  display: inline-block;
  list-style: none;
  text-align: center;
}

a {
  font-size: 1.125rem;
  color: #fff;
  background-color: #b2a212;
  text-decoration: none;
  padding: .4em;
  border-radius: 4px;
}

a:hover {
  background-color: #cc1465;
}

.current {
  background-color: #b20953;
}

main {
  padding: .2em .5em 0;
}

img {
  display: block;
  width: 100%;
  padding: 0 .4em;
}
